PORT=5000
MONGO_URI=mongodb+srv://haribabu190604_db_user:<db_password>@cluster0.g9sr1qb.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@moviebooking.com
ADMIN_PASSWORD=admin123
OWNER_EMAIL=owner@moviebooking.com
OWNER_PASSWORD=owner123
